/* Centering content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Full viewport height */
    text-align: center; /* Center text inside the container */
  }
  
  h1, p, button {
    margin: 10px 0; /* Optional: Add some spacing between elements */
  }
  /* Add this in grandfather.component.css or global styles */
.introForm {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .close{
    float: right;
  }
  