<div class="container">
    <h1>Grandfather Component</h1>
    <div class="requirement">
        <p appHighlight>Let me get to know you first, then I will introduce you to my son.</p>
        <p>click on <button class="primary" (click)="takeDetails()">OK</button> to continue</p>
    </div>
    <div *ngIf="introduceHim">
      <app-father [data] = "message"></app-father>
    </div> 
  </div>
  <div class="introForm" *ngIf="showForm">
    <div class="close">
        <button  class="btn btn-primary" (click) = "showForm = !showForm">X</button>

    </div>
    <form (submit)="onSubmit()">
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" id="fullName" name="fullName" [(ngModel)]="grandFauser.fullName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="fathersName" class="form-label">Father's Name</label>
            <input type="text" id="fathersName" name="fathersName" [(ngModel)]="grandFauser.fathersName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="grandFauser.email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="contactNumber" class="form-label">Phone Number</label>
            <input type="number" id="contactNumber" name="contactNumber" [(ngModel)]="grandFauser.number" class="form-control" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
